# Auto-detect text files and enforce LF
* text=auto eol=lf

# Source code
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text
*.jsx text
*.mjs text
*.json text
*.css text
*.md text diff=markdown
*.yml text
*.yaml text
*.mjs text

# Binaries
*.png binary
*.ico binary
*.svg text
